html {
  box-sizing: border-box;
  font-size: 10px;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  min-width: 320px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #eff2f4;
}

.App {
  text-align: center;
  height: 100%;
}

.title {
  font-size: 5rem;
  color: #1c3448;
  margin: 3rem;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  min-width: 200px;
  width: 400px;
  height: 250px;
  background-color: #607e97;
  padding: 10px;
  color: white;
  margin: 30px;
  overflow: hidden;
  border-radius: 25px;
  box-shadow: 5px 5px 18px #888888;
}
